---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  class="prose mx-auto space-y-8 prose-pre:rounded-2xl prose-img:rounded-2xl prose-img:shadow-xl"
>
  <article>
    <div>
      {
        heroImage && (
          <img
            width={1020}
            height={510}
            src={heroImage}
            alt=""
            class="w-full rounded-2xl"
          />
        )
      }
    </div>
    <div>
      <div>
        <div>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
