---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

type Props = (CollectionEntry<"blog">["data"] & { pubDate: Date }) & {
  next: { slug: string; title: string } | undefined;
  prev: { slug: string; title: string } | undefined;
};

const { title, description, pubDate, updatedDate, heroImage, next, prev } =
  Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  class="mx-auto max-w-prose space-y-12"
>
  <article
    class="prose prose-pre:rounded-2xl prose-img:rounded-2xl prose-img:shadow-xl"
  >
    <div>
      {
        heroImage && (
          <Image
            width={1020}
            height={510}
            src={heroImage}
            alt="blogpost hero"
            loading="eager"
            class="w-full rounded-2xl"
          />
        )
      }
    </div>
    <div>
      <div>
        <div>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
  <footer>
    <div class="grid grid-cols-2">
      {
        next ? (
          <div class="col-start-2 justify-self-end font-bold">
            <a href={`/blog/${next.slug}`}>
              Next: {next.title} <span class="text-xl">&gt;</span>
            </a>
          </div>
        ) : null
      }
      {
        prev ? (
          <div class="col-start-1 justify-self-start font-bold">
            <a href={`/blog/${prev.slug}`}>
              <span class="text-xl">&lt;</span> Prev: {prev.title}
            </a>
          </div>
        ) : null
      }
    </div>
  </footer>
</BaseLayout>
